<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="countries" type="ConfigFile1.CountriesConfigurationSection, ConfigFile1" />
	</configSections>

	<countries>
		<add CountryName="C1" CountryCode="1" />
		<add CountryName="C2" CountryCode="2" />
	</countries>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
